.
black==23.1.0
glom==20.11.0
pytest==6.2.5
mypy==1.0
msgpack-types==0.2.0
beaker-pyteal==0.5.0
pyteal==0.21.0
py-algorand-sdk==2.0.0
git+https://github.com/behave/behave
pip~=23.0.1
wheel~=0.37.0
py~=1.11.0pipx install
keyring~=23.13.1
setuptools~=65.5.0
jupyter~=1.0.0
attrs~=21.2.0
Pillow~=8.4.0
tornado~=6.1
Jinja2~=3.1.2
Mesa~=1.2.1
click~=8.1.3
networkx~=3.1
numpy~=1.21.4
pandas~=1.3.4
tqdm~=4.65.0
requests~=2.26.0
colorama~=0.4.4
ipywidgets~=7.6.5
ipython~=7.29.0
notebook~=6.4.6
arrow~=1.2.3
python-dateutil~=2.8.2
pkginfo~=1.9.6
msgpack~=1.0.5
chardet~=5.1.0
scipy~=1.7.3
matplotlib~=3.5.0
cffi~=1.15.0
cookiecutter~=2.1.1
PyYAML~=6.0
binaryornot~=0.4.4
build~=0.10.0
parse~=1.19.0
wcwidth~=0.2.5
pycparser~=2.21
packaging~=23.1
zipp~=3.15.0
platformdirs~=3.5.1

